html
  head 
    //- link(
    //-   rel= "stylesheet",
    //-   href="../styles/style.css" 
    //- )
    //- script(
    //-   src="../scripts/script.js"
    //-   type="text/javascript"
    //- )
  body
    a(
      href = '/auth/google'
    ) login
                        